name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    name: Release

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Release VS Code Extension
        uses: veltive/actions/vscode-extensions/release@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
